<div class="row">
    <div class="col-md-12">
        <mat-form-field>
            <mat-select [compareWith]="compareObjects" (openedChange)="openedChange($event)"
                placeholder="{{ placeholder }}" [formControl]="selectFormControl" multiple>
                <mat-select-trigger>
                    {{selectFormControl.value && selectFormControl.value.length > 0 ? selectFormControl.value[0].title :
                    ''}}
                    <span *ngIf="selectFormControl.value?.length > 1" class="additional-selection">
                        (+{{selectFormControl.value.length - 1}}
                        {{selectFormControl.value?.length === 2 ? 'outro' : 'outros'}})
                    </span>
                </mat-select-trigger>
                <div class="select-container">
                    <mat-optgroup>
                        <mat-form-field style="width:100%;padding-top: 10px;">
                            <input autocomplete="off" #search autocomplete="off" placeholder="Find" aria-label="Find"
                                matInput [formControl]="searchTextboxControl">
                        </mat-form-field>
                    </mat-optgroup>
                    <mat-optgroup *ngIf="(filteredOptions | async).length == 0">
                        <div>No item found</div>
                    </mat-optgroup>
                    <mat-option (onSelectionChange)="selectionChange($event)"
                        *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.title}}
                    </mat-option>
                </div>
            </mat-select>
        </mat-form-field>
    </div>
</div>